<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <title>Login Page</title>
</head>
<body>
    <div class="header-container">
        <div class="name-section">
            Hello ! <span><%= user.fullName %></span> Welcome back
        </div>
        <div class="logout-button"><button type="button">logout</button></div>
    </div>
</body>
</html>
